In [2]:
import mysql.connector
from sqlalchemy import create_engine
import os
import threading
# con = engine.connect()
class Hander(object):

    engine = create_engine('mysql+mysqlconnector://trnet:trnet@127.0.0.1:3306/trnet')
    lock = threading.Lock()
    
    def get_line_by_id(self,id_=None):
        table = self._get_table_in_month(id_)
#         self.lock.acquire()
        with self.lock:
            with self.engine.connect() as con:
                result = con.execute("SELECT lo,fd,content,dir FROM {} WHERE id={}".format(table,id_))
                line = result.first()
#             self.lock.release()
        return line
    

    
    def _get_table_in_month(self,id_):
        if   int(id_) < 1777534:
            return 'data201804'
        elif int(id_) < 3907323:
            return 'data201805'
        elif int(id_) < 4614087:
            return 'data201806'
        else:
            raise ValueError('Can\'t find a table by id.')

In [14]:
class Hander5c(Hander):
    
    def get_line_in_5c(self,table):
#         self.lock.acquire()
        with self.lock:
            with self.engine.connect() as con:
                cmd = "SELECT * FROM {} WHERE fd IN (\'FD0007\',\'FD0032\',\'FD0033\',\'FD0076\',\'FD0147\')"
                cmd = cmd.format(table)
                print(cmd)
                result = con.execute(cmd)
                lst = result.fetchall()
#         self.lock.release()            
        return lst

    def get_line_in_9s(self,table):
        with self.lock:
            with self.engine.connect() as con:
                cmd = "SELECT * FROM {} WHERE fd IN\
                (\'FD0007\',\'FD0032\',\'FD0033\',\'FD0076\',\'FD0147\',\'FD0234\',\'FD0078\',\'FD0083\',\'FD0077\')"
                cmd = cmd.format(table)
                print(cmd)
                result = con.execute(cmd)
                lst = result.fetchall()
#         self.lock.release()            
        return lst

In [6]:
def get_charset(path='/home/lidingke/DATA/HWDB_ordered_dict_3922.txt'):
    with open(path,'rb') as f:
        lines = f.readlines()
    chars = [l.decode('utf-8').strip().split(':')[0] for l in lines]
    return set(chars)
len(get_charset())
charneededs = get_charset()

#### 调用get_line_by_id即可获得：
`LOXXXX FDXXXX 内容 拼接好的完整路径`

In [3]:
h = Hander()
t0 = h.get_line_by_id(3907317)
print(t0)
assert t0[2]=='赖国鹏' 
t1 = h.get_line_by_id(1777529)
assert t1[2]=='阿仁高娃'
t0 = h.get_line_by_id('3907317')
assert t0[2]=='赖国鹏' 
t1 = h.get_line_by_id('1777529')
assert t1[2]=='阿仁高娃'

('LO0151', 'FD0147', '赖国鹏', '/trnet_fs/data_0531/LO0151/FD0147/3907317.JPG\r')

In [ ]:
def filter_fun(line):
#     print(line)
    content = line[3]
    dir_ = line[4]
    if content in ('NA','','?','*'):
        return 
    for i in content:
        if ord(i) < 255:
            return
        if i not in charneededs:
            return
    return dir_

In [19]:
h5 = Hander5c()
c5 = h5.get_line_in_9s('data201806')
c5f = [filter_fun(c) for c in c5]
c5n = [c for c in c5f if c]
len(c5n)

SELECT * FROM data201806 WHERE fd IN                ('FD0007','FD0032','FD0033','FD0076','FD0147','FD0234','FD0078','FD0083','FD0077')

44751

In [20]:
h5 = Hander5c()
c5 = h5.get_line_in_9s('data201805')

c5f = [filter_fun(c) for c in c5]
c5n = [c for c in c5f if c]
len(c5n)

SELECT * FROM data201805 WHERE fd IN                ('FD0007','FD0032','FD0033','FD0076','FD0147','FD0234','FD0078','FD0083','FD0077')

135378

In [21]:
h5 = Hander5c()
c5 = h5.get_line_in_9s('data201804')

c5f = [filter_fun(c) for c in c5]
c5n = [c for c in c5f if c]
len(c5n)

SELECT * FROM data201804 WHERE fd IN                ('FD0007','FD0032','FD0033','FD0076','FD0147','FD0234','FD0078','FD0083','FD0077')

114692

In [3]:
%time
engine = create_engine('mysql+mysqlconnector://trnet:trnet@127.0.0.1:3306/trnet')
with engine.connect() as con:
    result = con.execute("SELECT * FROM data201807")
len(list(result))

1239126

In [4]:
%time
engine = create_engine('mysql+mysqlconnector://trnet:trnet@127.0.0.1:3306/trnet')
with engine.connect() as con:
    result = con.execute("SELECT * FROM data201806")
len(list(result))

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 12.6 µs

992905

In [5]:
%time
engine = create_engine('mysql+mysqlconnector://trnet:trnet@127.0.0.1:3306/trnet')
with engine.connect() as con:
    result = con.execute("SELECT * FROM data201805")
len(list(result))

CPU times: user 5 µs, sys: 1 µs, total: 6 µs
Wall time: 12.6 µs

2104637